{% extends 'basic.html' %} {% block title %} Cart |{% endblock title %} {% block css %}
<style>
    .head {
        color: rgb(47, 75, 20);
    }
</style> {% endblock css %} {% block body %}

<div class="container-fluid pt-3">
    <div class="row text-center">
        <div class="container col">
            <h1 style="color: rgb(11, 11, 66)">Your Added Products</h1>
            <ul class="row pt-4 head">
                <div class="col-4">
                    <h3>Products</h3>
                </div>
                <div class="col-4">
                    <h3>Price</h3>
                </div>
                <div class="col-4">
                    <h3>Quantity</h3>
                </div>
            </ul>
            <hr style="color: rgb(165, 25, 25);">
            <ul id="rowitem">
                <!-- getting product detail here -->
            </ul>
        </div>
    </div>
    <hr style="color: rgb(165, 25, 25); margin-top: 3px;">
    <div class="row text-center">
        <div class="col allTotal text-center pt-5">
            <h2 style="color: rgb(11, 11, 66)">Total : ₹ <span id="totalprice">0</span></h2>
        </div>
        <div class="col">
            <h3 id="clearclart" class="btn" style="color: red;margin-top: 50px;"><i class="fas fa-ban"></i> Clear Cart</h3>
        </div>
    </div>
    <div align="center">
        <a href="/checkout"><button type="submit" class="btn btn-primary mt-4">Checkout</button></a>
    </div>
</div>


<script>
    //for carts
    //creating cart and operations o=if already created
    if (localStorage.getItem('cart') == null) {
        var cart = {}
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart)
    }


    //update cart value
    function updateCart(cart) {
        sum = 0;
        for (var item in cart) {
            sum += cart[item][0];
            $('#addcart' + item).html("<button id='minus" + item + "'class='minus'>-</button> <span id='val" + item + "''>" +
                cart[item][0] + "</span> <button id='plus" + item + "' class='plus'> + </button>");
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        $('#cartval').text(sum);
    }

    //filling cart
    var additem = "";
    var sum = 0;
    var totalPrice = 0;
    var itemPrice = 0;
    if ($.isEmptyObject(cart)) {
        //if object is empty
        additem = `<h5 class="pt-3" style="color:red;">Your cart is empty, please add some items to your cart before checking out!</h5>`
        $('#rowitem').append(additem);
    } else {
        for (var item in cart) {
            let name = cart[item][1];
            let qty = cart[item][0];
            let itemPrice = cart[item][2];
            sum += qty;
            totalPrice = totalPrice + qty * itemPrice;
            additem = `<h6 id="myitem${item}" class="row"><li class=" d-flex">
                   <span class="col-4">${name}</span><span class="col-4">₹ ${itemPrice}</span>
                    <span class="col-4">${qty}</span>
            </li></h6>`
            $('#rowitem').append(additem);
            $('#totalprice').text(totalPrice);
        }
    }

    $(document).ready(function() {
        $("#clearclart").click(function() {
            var lis = document.querySelectorAll("#rowitem li");
            for (var i = 0; li = lis[i]; i++) {
                li.parentNode.removeChild(li);
            }
            cart = JSON.parse(localStorage.getItem('cart'));
            localStorage.clear();
            cart = {}
            additem = `<h5  class="pt-3" style="color:red;">Your cart is empty, please add some items to your cart before checking out!</h5>`
            $('#rowitem').append(additem);
            $('#totalprice').text(0);
        });
    });
</script>
{% endblock body %}